/* CSS files add styling rules to your content */

body {
  font-family: 'Roboto', sans-serif;
  margin: 2em;
  background-color: #B4F8CA;
}

h1,h2 {
  color: #AFFCFE
}
 
h4 {
  color: #5E6D37;
}

h5 {
  color: #445F58;
}

img {
  width: 90%;
  height: 25%;
}

.article-img{
  diplay: grid;
  align-items: center;
}

.container{
  text-align: center;
}

.article-content{
  text-align: justify;
  text-justify: inter-word;
}

.row {
  margin-bottom: 3em;
}

.one-half {
  margin-top: 20px;
}

.banner{
  display: grid;
  background-image: url(https://media.giphy.com/media/3o85xEfx9JC73A6gq4/giphy.gif);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  align-items: center;
}

#two, #three {
  border-top: solid #445F58;
}

#img-one, #img-two, #img-three {
  dislay: grid;
  align-items: center;
}